.form {
  display: flex;
  flex-direction: column;
}

.form__input--name {
  width: 190px;
  margin-bottom: 5px;
}

.form__input--comment {
  resize: none;
  width: 190px;
}

.form__buttonSubmit {
  width: 176px;
  height: 44px;
  font-weight: 700;
  color: #fff;
  background: #fc842d;
  border: none;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  border-radius: 30px;
}
